<div class="container text-center playwrite" id="center" data-controller="proceed-to-login">
  <div class="mb-2">
    <h1 class="fade-in">Welcome</h1>
    <h1 class="fade-in">to</h1>
    <h1 class="fade-in">RideWise</h1>
  </div>
  <div data-controller="typed" data-typed-strings-value='["Press anywhere to login/signup"]' id="typed">

  </div>
</div>
