#center {
  margin-top: 9rem;
  margin-bottom: 9rem;
}


.playwrite h1 {
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  font-size: 15px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#typed {
  font-size: 18px;
  font-style: italic;
}
